.container {
  display: grid;
  grid-template-columns:
    [filll-start] 1fr
    [filll-end center-start] minmax(0, 145rem)
    [center-end fillr-start] 1fr [fillr-end];
}

.nav {
  grid-column: filll-start / fillr-end;
  z-index: 5;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: max-content;
  background-color: $color-primary;
  border-bottom: 1px solid transparent;
  transition: border 0.2s;
}

.trending {
  grid-column: filll-start / fillr-end;
  position: relative;
  width: 100%;
  margin: 0 0 4.5rem 0;
  background-image: url("../img/bg-head.png"),
    linear-gradient(to bottom right, $color-light-2, $color-primary);
  background-position: bottom left;
  background-repeat: no-repeat;
}

.promotions {
  grid-column: filll-start / fillr-end;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 4.5rem 0 2rem 0;
}

.category {
  grid-column: center-start / center-end;
  width: 100%;
  margin: 0 0 5rem 0;
  padding: 3rem 0;
  border-top: 1px solid $color-font-grey-darker;
  border-bottom: 1px solid $color-font-grey-darker;
  background-image: linear-gradient(
    to top,
    rgba($color-light-2, 0.3),
    $color-primary
  );
}

.picks {
  position: relative;
  grid-column: center-start / center-end;
  width: 100%;
  margin: 5rem 0;

  @media only screen and (max-width: $bp-smaller) {
    margin: 3rem 0;
  }
}

.new {
  grid-column: center-start / center-end;
  width: 100%;
  margin: 5rem 0;

  @media only screen and (max-width: $bp-smaller) {
    margin: 8rem 0 4rem 0;
  }
}

.top {
  grid-column: center-start / center-end;
  width: 100%;
  margin: 5rem 0 10rem 0;

  @media only screen and (max-width: $bp-smaller) {
    margin: 8rem 0;
  }
}

.series {
  grid-column: center-start / center-end;
  width: 100%;
  margin: 4rem 0 3rem 0;
  padding: 4rem 0 0 0;
  border-top: 1px solid $color-secondary;
  border-bottom: 1px solid $color-secondary;
  background-image: linear-gradient(
    to top left,
    rgba($color-light-2, 0.3),
    $color-primary
  );
}

.comic {
  grid-column: center-start / center-end;
  width: 100%;
  margin: 5rem 0 6rem 0;

  @media only screen and (max-width: $bp-smaller) {
    margin: 8rem 0 6rem 0;
  }
}

.promotions-static {
  grid-column: center-start / center-end;
  width: 100%;
  height: 40rem;
  margin: 5rem 0 10rem 0;

  @media only screen and (max-width: $bp-smaller) {
    height: auto;
  }

  @media only screen and (max-width: $bp-break-promotions) {
    height: 25rem;
  }

  @media only screen and (max-width: $bp-smaller) {
    margin: 3rem 0 6rem 0;
  }
}

.footer {
  grid-column: filll-start / fillr-end;
}

.section {
  &__head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 5rem;

    @media only screen and (max-width: $bp-smaller) {
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      margin-bottom: 2rem;
    }
  }

  &__header {
    width: max-content;
    padding: 0.5rem 2rem 0 5rem;
    border-bottom: 2px solid $color-secondary;
    color: $color-font-dark;
    font-family: $font-playfair;

    @media only screen and (max-width: $bp-smaller) {
      align-self: flex-start;
      width: 100%;
      padding: 0.5rem 1rem 0 1rem;
    }

    &--trending {
      margin-top: 4rem;
      padding-left: 15rem;

      @media only screen and (max-width: $bp-large) {
        padding-left: 5rem;
      }

      @media only screen and (max-width: $bp-medium) {
        padding-left: 0.5rem;
        font-size: 3rem;
      }

      @media only screen and (max-width: $bp-small) {
        font-size: 2.5rem;
      }
    }

    &--picks {
      margin-bottom: 0.1rem;

      @media only screen and (max-width: $bp-smaller) {
        font-size: 2.5rem;
      }
    }
  }

  &__more {
    padding: 0.5rem 0 0.2rem 0;
    margin-right: 6rem;

    @media only screen and (max-width: $bp-smaller) {
      margin-right: 0.5rem;
    }

    &:link,
    &:visited {
      @include resetLink;

      color: $color-tertiary;
      font-family: $font-lato;
      font-size: 1.3rem;
      text-transform: uppercase;
      transition: all 0.1s;
      border-bottom: 1px solid transparent;
    }

    &:hover,
    &:active {
      color: $color-secondary;
      border-bottom: 1px solid $color-secondary;
    }
  }
}
