.btn__flat {
  &:link,
  &:visited {
    @include resetLink;

    padding: 1rem 2rem;
    border: 2px solid $color-secondary;
    border-radius: 2.5px;
    color: $color-secondary;
    font-family: $font-lato;
    text-transform: uppercase;
    transition: all 0.2s;
  }

  &:hover,
  &:active {
    border: 2px solid $color-primary;
    background-color: $color-secondary;
    color: $color-primary;
  }
}

.btn__small {
  &:link,
  &:visited {
    @include resetLink;

    padding: 0.2rem 0;
    border-bottom: 1px solid transparent;
    transition: all 0.2s;
  }

  &:hover,
  &:active {
    border-bottom: 1px solid $color-secondary;
    color: $color-secondary;
  }
}
