.splide__arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  width: 2.5em;
  height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  padding: 0.5em;
  background: transparent;
  transition: border 0.2s;
}

.splide__arrow svg {
  width: 3em;
  height: 3em;
  fill: $color-secondary;
  transition: fill 0.2s;
}

.splide__arrow:hover {
  cursor: pointer;
  border: 1px solid transparent;
}

.splide__arrow:hover svg {
  fill: $color-tertiary;
}

.splide__arrow:focus {
  outline: none;
}

.splide__arrow:disabled svg {
  fill: $color-light-3;
}

.splide__arrow--prev {
  left: 0;
}

.splide__arrow--prev svg {
  transform: scaleX(-1);
}

.splide__arrow--next {
  right: 0;
}

.splide__slider > .splide__arrows .splide__arrow--prev {
  left: -2.5em;
}

.splide__slider > .splide__arrows .splide__arrow--next {
  right: -2.5em;
}

.splide__pagination {
  position: absolute;
  z-index: 1;
  bottom: 1em;
  left: 50%;
  width: max-content;
  transform: translateX(-50%);
  padding: 0;
}

.splide__pagination__page {
  display: inline-block;
  width: 20px;
  height: 6px;
  border-radius: 2.5px;
  margin: 3px;
  padding: 0;
  transition: all 0.2s linear;
  border: 1px solid $color-primary;
  opacity: 0.5;
}

.splide__pagination__page.is-active {
  background: $color-secondary;
}

.splide__pagination__page:hover {
  cursor: pointer;
  background: $color-tertiary;
}

.splide__pagination__page:focus {
  outline: none;
}

.splide__progress__bar {
  width: 0;
  height: 3px;
  background: #20b2aa;
}

.splide__slide {
  border-radius: 1px;
}

.splide__spinner {
  border: 2px solid #20b2aa;
  border-left-color: transparent;
}

.splide--nav > .splide__track > .splide__list > .splide__slide {
  border-bottom: 3px solid $color-light-1;
  cursor: pointer;
  opacity: 0.8;
  border-radius: 1px;
}

.splide--nav
  > .splide__track
  > .splide__list
  > .splide__slide
  > .splide__wrapper {
  padding-bottom: 0.2rem;
}

.splide--nav > .splide__track > .splide__list > .splide__slide.is-active {
  border-color: $color-secondary;
  opacity: 1;
}

.splide--nav > .splide__track > .splide__list > .splide__slide:focus {
  outline: none;
}

.splide--rtl > .splide__arrows .splide__arrow--prev,
.splide--rtl > .splide__track > .splide__arrows .splide__arrow--prev {
  right: 1em;
  left: auto;
}

.splide--rtl > .splide__arrows .splide__arrow--prev svg,
.splide--rtl > .splide__track > .splide__arrows .splide__arrow--prev svg {
  transform: scaleX(1);
}

.splide--rtl > .splide__arrows .splide__arrow--next,
.splide--rtl > .splide__track > .splide__arrows .splide__arrow--next {
  left: 1em;
  right: auto;
}

.splide--rtl > .splide__arrows .splide__arrow--next svg,
.splide--rtl > .splide__track > .splide__arrows .splide__arrow--next svg {
  transform: scaleX(-1);
}

.splide--ttb > .splide__arrows .splide__arrow,
.splide--ttb > .splide__track > .splide__arrows .splide__arrow {
  left: 50%;
  transform: translate(-50%);
}

.splide--ttb > .splide__arrows .splide__arrow--prev,
.splide--ttb > .splide__track > .splide__arrows .splide__arrow--prev {
  top: 1em;
}

.splide--ttb > .splide__arrows .splide__arrow--prev svg,
.splide--ttb > .splide__track > .splide__arrows .splide__arrow--prev svg {
  transform: rotate(-90deg);
}

.splide--ttb > .splide__arrows .splide__arrow--next,
.splide--ttb > .splide__track > .splide__arrows .splide__arrow--next {
  top: auto;
  bottom: 1em;
}

.splide--ttb > .splide__arrows .splide__arrow--next svg,
.splide--ttb > .splide__track > .splide__arrows .splide__arrow--next svg {
  transform: rotate(90deg);
}

.splide--ttb > .splide__pagination {
  display: flex;
  flex-direction: column;
  bottom: 50%;
  left: auto;
  right: 1em;
  transform: translateY(50%);
}

.splide--ttb > .splide__pagination .splide__pagination__page {
  width: 5px;
  height: 20px;
}

.splide__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 2rem;
  height: 100%;

  &--large {
    justify-content: flex-start;
  }
}

.splide__add-cart {
  text-align: center;

  &--absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    transform: translate(-50%, -50%);
    background-color: rgba($color-primary, 0.75);
  }

  &--relative {
    position: relative;
  }
}

.splide__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-family: $font-andada;
  text-align: center;
}

.splide__title {
  width: 100%;
  border-bottom: 1px solid $color-secondary;
  margin-bottom: 0.2rem;
  padding: 0 0.5rem;
  font-size: 1.4rem;
  text-overflow: ellipsis;
  overflow: hidden;

  a {
    white-space: nowrap;
  }
}

.splide__author {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

.splide__rating {
  color: $color-font-gold;
  font-family: $font-lato;
  font-weight: 600;
}

.splide__genre {
  font-size: 1.1rem;
  margin-bottom: 0.1rem;
}

.splide__description {
  margin: 0 6rem;
  text-align: justify;
  color: $color-font-grey-dark;
}

.splide__img {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-height: 100%;

  &--large {
    margin: 0 17rem;
    justify-content: flex-start;
  }

  img {
    width: 100%;
  }
}

.splide__link {
  &:link,
  &:visited {
    @include resetLink;

    color: $color-font-grey-dark;
  }

  &:hover,
  &:active {
    color: $color-secondary;
  }
}
