.footer {
  &__wrapper {
    display: grid;
    grid-template-columns: 80% 1fr;
    color: $color-font-grey-dark;
    font-family: $font-lato;
    margin: 0 auto 2rem auto;
    max-width: 145rem;

    @media only screen and (max-width: $bp-large) {
      grid-template-columns: 70% 30%;
    }
  }

  &__promo {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 3rem;
    border-top: 1px solid $color-font-grey-darker;
    border-bottom: 1px solid $color-font-grey-darker;
    margin: 0 1rem;

    @media only screen and (max-width: $bp-large) {
      grid-column: 1 / span 2;
    }

    @media only screen and (max-width: $bp-medium) {
      grid-template-columns: repeat(2, 1fr);
    }

    &__list {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 2rem;
      row-gap: 0.5rem;

      @media only screen and (min-width: $bp-medium) {
        &:not(:last-child) {
          border-right: 1px solid $color-font-grey-darker;
        }
      }

      @media only screen and (max-width: $bp-medium) {
        &:nth-child(even) {
          border-left: 1px solid $color-font-grey-darker;
        }

        &:nth-child(n + 3) {
          border-top: 1px solid $color-font-grey-darker;
        }
      }

      a {
        font-size: 1rem;
        color: $color-tertiary;
        margin-top: auto;
      }
    }

    &__title {
      text-transform: uppercase;
      font-size: 1.3rem;
    }

    &__content {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
    }
  }

  &__copyright {
    grid-column: 2 / span 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    padding-bottom: 0.5rem;
    font-size: 1.3rem;

    @media only screen and (max-width: $bp-large) {
      grid-column: 2 / span 1;
      justify-content: center;
      padding-bottom: 0;
    }
  }

  &__social {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 2rem;
    margin: 1.5rem 0;

    @media only screen and (max-width: $bp-large) {
      grid-column: 2 / span 1;
      justify-content: center;
      align-items: flex-end;
      margin: 0;
      border-top: 1px solid $color-tertiary;
    }

    &__icon {
      fill: $color-font-grey-darker;
      height: 2.5rem;
      width: 2.5rem;
      transition: fill 0.1s;

      &--facebook:hover {
        fill: #1877f2;
      }

      &--twitter:hover {
        fill: #1da1f2;
      }

      &--instagram:hover {
        fill: #e4405f;
      }
    }
  }

  &__newsletter {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    margin: 0.5rem 2rem 0 0;

    @media only screen and (max-width: $bp-large) {
      grid-column: 1 / span 1;
      grid-row: 3 / span 2;
      margin: 0 4rem;
    }

    &__title {
      font-size: 1.4rem;
      color: $color-tertiary;
    }

    &__form {
      margin: 0.5rem 0 1rem 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: stretch;
    }

    &__input {
      padding: 0.5rem;
      width: 80%;
      border-radius: 0;
      outline: none;
      border: 1px solid $color-font-grey-lighter;
      border-right: none;

      @media only screen and (max-width: $bp-larger) {
        width: 100%;
      }
    }

    &__button {
      background-color: $color-tertiary;
      padding: 0.5rem 1.1rem;
      outline: none;
      border: 1px solid $color-font-grey-lighter;
      border-left: none;
      color: $color-primary;
      font-size: 1.4rem;
      cursor: pointer;
    }

    &__text {
      color: $color-font-grey-lighter;
      text-align: justify;
    }
  }

  &__menu {
    grid-column: 1 / span 1;
    grid-row: 2 / span 3;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 2rem;
    margin-right: 4rem;
    column-gap: 2rem;

    @media only screen and (max-width: $bp-large) {
      grid-column: 1 / span 2;
      grid-row: 2 / span 1;
      margin-right: 0;
    }

    &__category {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
    }

    &__header {
      font-size: 1.7rem;
      color: $color-tertiary;
      transition: background-color 0.1s;

      @media only screen and (max-width: $bp-medium) {
        padding: 0.5rem 1.5rem;

        &:hover {
          background-color: $color-light-2;
        }
      }

      .accordion-active {
        background-color: $color-light-2;
      }
    }

    &__content {
      list-style: none;
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;
    }

    &__link {
      &:link,
      &:visited {
        @include resetLink;

        color: $color-font-grey-dark;
        font-size: 1.2rem;
        transition: color 0.1s;
      }

      &:hover,
      &:active {
        color: $color-secondary;
      }
    }
  }
}
