.nav {
  &__wrapper {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 145rem;
  }

  &__title {
    width: min-content;

    a {
      display: block;
    }

    img {
      height: 8rem;
    }
  }

  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
    width: 100%;
    padding: 0 6rem 0 10rem;
  }

  &__search {
    flex: 1 0;
  }

  &__disc {
    flex: 0 0 max-content;
    padding-left: 0 2rem;
  }

  &__shop {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1.5rem;
  }

  &__cart {
    a img {
      height: 2.5rem;
      width: 2.5rem;
    }
  }

  &__wishlist {
  }

  &__member {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2rem;

    &__photo {
      height: 4rem;
      width: 4rem;
      border-radius: 50%;
    }
  }

  &__more {
    grid-column: 1 / span 3;
    padding-top: 1.5rem;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;

    &--more {
      justify-content: center;
      width: 100%;
    }
  }

  &__item {
    border-left: 1px solid $color-dark-2;
    border-right: 1px solid $color-dark-2;
  }

  &__link {
    &:link,
    &:visited {
      @include resetLink;

      color: $color-dark-1;
      font-family: $font-lato;
      text-transform: uppercase;
      transition: color 0.1s;
    }

    &:hover,
    &:active {
      color: $color-tertiary;
    }

    &--more {
      padding: 2rem 7rem;
    }

    &--disc {
      padding: 0 1.5rem;
    }
  }
}
