.series {
  &__splide {
    width: 100%;
    padding: 0 3rem;
  }

  &__splide-text {
    margin: 0 auto;
    padding: 0 3rem;

    &__text {
      display: inline-block;
      width: 100%;
      text-align: center;
    }
  }
}
