.top {
  &__header {
    width: max-content;
    padding: 0.5rem 2rem 0 5rem;
    border-bottom: 2px solid $color-secondary;
    color: $color-font-dark;
    font-family: $font-playfair;
  }

  &__splide {
    width: 100%;
    padding: 0.5rem 8rem 1rem 8rem;
    background-image: url("../img/bg-top.png"),
      linear-gradient(to right, rgba($color-light-2, 0.5), $color-primary);
    background-position: bottom left;
    background-repeat: no-repeat;
  }

  &__big {
    .splide__title {
      width: max-content;
      font-size: 1.8rem;
    }

    .splide__author {
      font-size: 1.4rem;
      margin-bottom: 0.4rem;
    }

    .splide__rating {
      color: $color-font-gold;
      font-family: $font-lato;
      font-weight: 600;
    }

    .splide__genre {
      font-size: 1.2rem;
    }

    .splide__description {
      padding: 0.2rem 0 0.4rem 1.5rem;
      margin: 1rem 10rem 2.5rem 10rem;
      border-left: 1px solid $color-secondary;
      font-family: $font-lato;
      font-size: 1.1rem;
      line-height: 1.8rem;

      @media only screen and (max-width: $bp-larger) {
        margin: 1rem 7rem 2.5rem 7rem;
      }

      @media only screen and (max-width: $bp-large) {
        margin: 1rem 5rem 2.5rem 5rem;
        font-size: 1.2rem;
        line-height: 2rem;
      }
    }

    .splide__add-cart {
      padding: 0.7rem 1.5rem;
    }
  }
}
