*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #f8f9fc;
  color: #000;
}

img {
  font-size: 1.2rem;
  object-fit: cover;
  object-position: center;
}

.t-header-1 {
  font-size: 4rem;
  font-weight: 200;
}

.t-header-2 {
  font-size: 3.5rem;
  font-weight: 300;
}

.t-header-3 {
  font-size: 2.5rem;
  font-weight: 300;
}

.t-header-4 {
  font-size: 2rem;
  font-weight: 400;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-top-tiny {
  margin-top: 0.5rem !important;
}

.u-margin-top-small {
  margin-top: 1.5rem !important;
}

.u-margin-top-medium-small {
  margin-top: 2.5rem !important;
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.u-margin-bottom-tiny {
  margin-bottom: 0.5rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium-small {
  margin-bottom: 2.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-huge {
  margin-bottom: 10rem !important;
}

.u-unselectable {
  user-select: none !important;
}

.u-visible {
  opacity: 1 !important;
  visibility: visible !important;
}

.btn__flat:link, .btn__flat:visited {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  padding: 1rem 2rem;
  border: 2px solid #c00000;
  border-radius: 2.5px;
  color: #c00000;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  transition: all 0.1s;
}

.btn__flat:hover, .btn__flat:active {
  border: 2px solid #f8f9fc;
  background-color: #c00000;
  color: #f8f9fc;
}

.c-search-bar__button img {
  height: 1.5rem;
  width: 1.5rem;
}

.splide__arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  width: 2.5em;
  height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  padding: 0.5em;
  background: transparent;
  transition: border 0.2s;
}

.splide__arrow svg {
  width: 3em;
  height: 3em;
  fill: #c00000;
  transition: fill 0.2s;
}

.splide__arrow:hover {
  cursor: pointer;
  border: 1px solid transparent;
}

.splide__arrow:hover svg {
  fill: #de3c3c;
}

.splide__arrow:focus {
  outline: none;
}

.splide__arrow--prev {
  left: 0;
}

.splide__arrow--prev svg {
  transform: scaleX(-1);
}

.splide__arrow--next {
  right: 0;
}

.splide__slider > .splide__arrows .splide__arrow--prev {
  left: -2.5em;
}

.splide__slider > .splide__arrows .splide__arrow--next {
  right: -2.5em;
}

.splide__pagination {
  position: absolute;
  z-index: 1;
  bottom: 1em;
  left: 50%;
  width: max-content;
  transform: translateX(-50%);
  padding: 0;
}

.splide__pagination__page {
  display: inline-block;
  width: 20px;
  height: 6px;
  border-radius: 2.5px;
  margin: 3px;
  padding: 0;
  transition: all 0.2s linear;
  border: 1px solid #f8f9fc;
  opacity: 0.5;
}

.splide__pagination__page.is-active {
  background: #c00000;
}

.splide__pagination__page:hover {
  cursor: pointer;
  background: #de3c3c;
}

.splide__pagination__page:focus {
  outline: none;
}

.splide__progress__bar {
  width: 0;
  height: 3px;
  background: #20b2aa;
}

.splide__slide {
  border-radius: 1px;
}

.splide__spinner {
  border: 2px solid #20b2aa;
  border-left-color: transparent;
}

.splide--nav > .splide__track > .splide__list > .splide__slide {
  border-bottom: 3px solid #fff;
  cursor: pointer;
  opacity: 0.8;
  border-radius: 1px;
}

.splide--nav
> .splide__track
> .splide__list
> .splide__slide
> .splide__wrapper {
  padding-bottom: 0.2rem;
}

.splide--nav > .splide__track > .splide__list > .splide__slide.is-active {
  border-color: #c00000;
  opacity: 1;
  background-color: #ebebeb;
}

.splide--nav > .splide__track > .splide__list > .splide__slide:focus {
  outline: none;
}

.splide--rtl > .splide__arrows .splide__arrow--prev,
.splide--rtl > .splide__track > .splide__arrows .splide__arrow--prev {
  right: 1em;
  left: auto;
}

.splide--rtl > .splide__arrows .splide__arrow--prev svg,
.splide--rtl > .splide__track > .splide__arrows .splide__arrow--prev svg {
  transform: scaleX(1);
}

.splide--rtl > .splide__arrows .splide__arrow--next,
.splide--rtl > .splide__track > .splide__arrows .splide__arrow--next {
  left: 1em;
  right: auto;
}

.splide--rtl > .splide__arrows .splide__arrow--next svg,
.splide--rtl > .splide__track > .splide__arrows .splide__arrow--next svg {
  transform: scaleX(-1);
}

.splide--ttb > .splide__arrows .splide__arrow,
.splide--ttb > .splide__track > .splide__arrows .splide__arrow {
  left: 50%;
  transform: translate(-50%);
}

.splide--ttb > .splide__arrows .splide__arrow--prev,
.splide--ttb > .splide__track > .splide__arrows .splide__arrow--prev {
  top: 1em;
}

.splide--ttb > .splide__arrows .splide__arrow--prev svg,
.splide--ttb > .splide__track > .splide__arrows .splide__arrow--prev svg {
  transform: rotate(-90deg);
}

.splide--ttb > .splide__arrows .splide__arrow--next,
.splide--ttb > .splide__track > .splide__arrows .splide__arrow--next {
  top: auto;
  bottom: 1em;
}

.splide--ttb > .splide__arrows .splide__arrow--next svg,
.splide--ttb > .splide__track > .splide__arrows .splide__arrow--next svg {
  transform: rotate(90deg);
}

.splide--ttb > .splide__pagination {
  display: flex;
  flex-direction: column;
  bottom: 50%;
  left: auto;
  right: 1em;
  transform: translateY(50%);
}

.splide--ttb > .splide__pagination .splide__pagination__page {
  width: 5px;
  height: 20px;
}

.splide__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 2rem;
  height: 100%;
}

.splide__wrapper--large {
  justify-content: flex-start;
}

.splide__add-cart--absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95%;
  border-radius: 0 !important;
  text-align: center;
  transform: translate(-50%, -50%);
  background-color: #f8f9fc;
}

.splide__add-cart--bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
}

.splide__add-cart--relative {
  position: relative;
}

.splide__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.splide__description {
  margin: 0 6rem;
  text-align: center;
}

.splide__img {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-height: 100%;
}

.splide__img--large {
  margin: 0 15rem;
  justify-content: flex-start;
}

.splide__img img {
  width: 100%;
}

.category__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  justify-content: center;
  align-items: center;
}

.category__link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category__link:link, .category__link:visited {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  color: #000;
}

.category__icon {
  height: 8.5rem;
  width: 8.5rem;
  margin-bottom: 2rem;
}

.category__description {
  font-family: "Andada Pro", serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  border-bottom: 1px solid transparent;
}

.category__link:hover .category__description,
.category__link:active .category__description {
  border-bottom: 1px solid #000;
}

.comic__splide {
  width: 100%;
  padding: 0 3rem;
}

.nav__wrapper {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
}

.nav__title {
  width: min-content;
}

.nav__title a {
  display: block;
}

.nav__title img {
  height: 8rem;
}

.nav__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
}

.nav__shop {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav__cart a img {
  height: 2.5rem;
  width: 2.5rem;
}

.nav__member {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav__member__photo {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

.nav__more {
  grid-column: 1 / span 3;
}

.nav__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav__list--more {
  justify-content: space-around;
  width: 100%;
}

.nav__link {
  color: #000;
  text-decoration: none;
}

.new__splide-nav {
  width: 100%;
  padding: 0 3rem;
}

.new__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 10rem;
  margin: 0 15rem 0 25rem;
}

.new__img {
  flex: 1 0 20%;
}

.new__description {
  flex: 0 1 100%;
}

.picks__title {
  width: max-content;
  color: #000;
  font-family: "Playfair Display", serif;
  border-bottom: 2px solid #c00000;
  padding: 0.5rem 2rem 0 5rem;
  z-index: 1;
}

.picks__more {
  position: absolute;
  z-index: 1;
  bottom: 1rem;
  right: 2.5rem;
  padding: 0.2rem 0.5rem;
}

.picks__more:link, .picks__more:visited {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  color: #fff;
  border-bottom: 1px solid transparent;
  font-size: 1.4rem;
  transition: all 0.1s;
}

.picks__more:hover, .picks__more:active {
  color: #c00000;
  border-bottom: 1px solid #c00000;
}

.picks__slide__img {
  width: 100%;
  height: 100%;
}

.picks__nav__slide {
  font-size: 3rem !important;
}

.picks__splide-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25%;
  height: 43rem;
  background-color: rgba(0, 0, 0, 0.9);
  font-family: "Lato", sans-serif;
}

.picks__splide-nav .splide__track {
  width: max-content;
  height: max-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.picks__splide-nav > .splide__track > .splide__list > .splide__slide {
  border: none;
  cursor: pointer;
  transition: color 0.2s;
  opacity: 1;
  border-radius: 0;
  color: #fff;
  font-size: 2rem;
}

.picks__splide-nav > .splide__track > .splide__list > .splide__slide.is-active {
  color: #c00000;
  border-color: transparent;
  opacity: 1;
  background-color: transparent;
}

.promotions__header {
  align-self: center;
  width: 90%;
  padding: 2rem 0;
  margin-top: 2.5rem;
  border-top: 1px solid #c00000;
  font-family: "Lato", sans-serif;
  text-align: center;
}

.promotions__header span {
  text-transform: uppercase;
}

.promotions__img {
  width: 100%;
  height: 100%;
}

.promotions__content:link, .promotions__content:visited {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

.promotions__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 2rem;
  position: absolute;
  height: max-content;
  width: 40%;
  top: 0;
}

.promotions__text--left {
  left: 0;
  margin: 5rem 2% 5rem 8%;
}

.promotions__text--right {
  right: 0;
  margin: 5rem 7% 5rem 3%;
}

.promotions__title {
  color: #232323;
  font-family: "Andada Pro", serif;
  font-size: 2rem;
  font-style: italic;
}

.promotions__description {
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  line-height: 3.5rem;
  font-weight: 300;
}

.promotions__splide {
  border-top: 1px solid #c00000;
}

.promotions__splide .splide__arrow {
  opacity: 0;
  transition: all 0.2s;
}

.promotions__splide .splide__arrow svg {
  fill: #f8f9fc;
}

.promotions__splide .splide__arrow:hover {
  border: 1px solid #f8f9fc;
}

.promotions__splide .splide__arrow:hover svg {
  fill: #c00000;
}

.promotions__splide .splide__pagination {
  opacity: 0;
  transition: all 0.2s;
}

.promotions__splide .splide__pagination__page.is-active {
  background: #c00000;
  opacity: 1;
}

.promotions__splide .splide__pagination__page:hover {
  opacity: 1;
}

.promotions__splide:hover .splide__arrow, .promotions__splide:active .splide__arrow {
  opacity: 1;
}

.promotions__splide:hover .splide__pagination, .promotions__splide:active .splide__pagination {
  opacity: 1;
}

.series__splide {
  width: 100%;
  padding: 0 3rem;
}

.series__splide-text {
  margin: 0 auto;
  padding: 0 3rem;
}

.series__splide-text__text {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.top__splide {
  width: 100%;
  padding: 0 8rem;
}

.trending__header {
  width: max-content;
  margin-top: 4rem;
  padding-left: 15rem;
  border-bottom: 2px solid #c00000;
  font-family: "Playfair Display", serif;
}

.trending__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background-image: url("../img/top-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  box-shadow: 0px 20px 20px -15px rgba(0, 0, 0, 0.2) inset, 0px -20px 20px -15px rgba(0, 0, 0, 0.2) inset;
}

.trending__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

.trending__img {
  flex: 1;
  display: block;
  width: 100%;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2);
}

.trending__img img {
  width: 100%;
}

.trending__description {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100%;
  padding-bottom: 4.5rem;
  font-family: "Andada Pro", serif;
}

.trending__description .splide__add-cart {
  margin-left: 1rem;
}

.trending__title {
  width: 100%;
  margin: 4.5rem 0 auto 0;
  padding-left: 1rem;
  color: #000;
  border-bottom: 2px solid #c00000;
}

.trending__author {
  padding-left: 1rem;
  color: #000;
  font-size: 1.6rem;
}

.trending__genre {
  margin: 1rem 0 0 0;
  padding-left: 1rem;
  color: #282828;
  font-size: 1.4rem;
}

.trending__publisher {
  margin: 0.2rem 0 6rem 0;
  padding-left: 1rem;
  color: #282828;
  font-size: 1.2rem;
}

.trending__rating {
  padding-left: 1rem;
}

.trending__link:link, .trending__link:visited {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  transition: all 0.1s;
}

.trending__link:hover, .trending__link:active {
  color: #de3c3c;
}

.container {
  display: grid;
  grid-template-columns: [filll-start] 1fr [filll-end center-start] minmax(0, 145rem) [center-end fillr-start] 1fr [fillr-end];
}

.help {
  position: fixed;
  left: 0;
  bottom: 0;
}

.nav {
  grid-column: center-start / center-end;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: max-content;
}

.trending {
  grid-column: filll-start / fillr-end;
  position: relative;
  width: 100%;
  margin: 3rem 0 2.5rem 0;
  background-image: linear-gradient(to bottom right, #ebebeb, #f8f9fc);
}

.promotions {
  grid-column: filll-start / fillr-end;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 6rem 0 5rem 0;
}

.promotions-static {
  grid-column: center-start / center-end;
  width: 100%;
  height: 40rem;
  margin: 5rem 0 5rem 0;
}

.category {
  grid-column: center-start / center-end;
  width: 100%;
  margin: 2rem 0;
  padding: 5rem 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  background-image: linear-gradient(to top, rgba(235, 235, 235, 0.3), #f8f9fc);
}

.picks {
  position: relative;
  grid-column: center-start / center-end;
  width: 100%;
  margin: 5rem 0 5rem 0;
}

.new {
  grid-column: center-start / center-end;
  width: 100%;
  margin: 10rem 0 10rem 0;
}

.top {
  grid-column: center-start / center-end;
  width: 100%;
  margin: 10rem 0 10rem 0;
}

.series {
  grid-column: center-start / center-end;
  width: 100%;
}

.comic {
  grid-column: center-start / center-end;
  width: 100%;
}

.footer {
  grid-column: filll-start / fillr-end;
}
