*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

body {
  background-color: #f8f9fc;
  color: #282828;
}

img {
  font-size: 1.2rem;
  object-fit: cover;
  object-position: center;
}

.t-header-1 {
  font-size: 4rem;
  font-weight: 200;
}

.t-header-2 {
  font-size: 3.5rem;
  font-weight: 300;
}

.t-header-3 {
  font-size: 2.5rem;
  font-weight: 300;
}

.t-header-4 {
  font-size: 2rem;
  font-weight: 400;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-top-tiny {
  margin-top: 0.5rem !important;
}

.u-margin-top-small {
  margin-top: 1.5rem !important;
}

.u-margin-top-medium-small {
  margin-top: 2.5rem !important;
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.u-margin-bottom-tiny {
  margin-bottom: 0.5rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium-small {
  margin-bottom: 2.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-huge {
  margin-bottom: 10rem !important;
}

.u-unselectable {
  user-select: none !important;
}

.u-visible {
  opacity: 1 !important;
  visibility: visible !important;
}

.u-display--block {
  display: block !important;
}

.btn__flat:link, .btn__flat:visited {
  text-decoration: none;
  padding: 1rem 2rem;
  border: 2px solid #c00000;
  border-radius: 2.5px;
  color: #c00000;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  transition: all 0.2s;
}

.btn__flat:hover, .btn__flat:active {
  border: 2px solid #f8f9fc;
  background-color: #c00000;
  color: #f8f9fc;
}

.btn__small:link, .btn__small:visited {
  text-decoration: none;
  padding: 0.2rem 0;
  border-bottom: 1px solid transparent;
  transition: all 0.2s;
}

.btn__small:hover, .btn__small:active {
  border-bottom: 1px solid #c00000;
  color: #c00000;
}

.c-search-bar {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.c-search-bar__input {
  width: 90%;
  border-radius: 0;
  border-top-left-radius: 2.5px;
  border-bottom-left-radius: 2.5px;
  border: 1px solid #585858;
  border-right: none;
  padding: 0.5rem 1rem;
}

@media only screen and (max-width: 62.5em) {
  .c-search-bar__input {
    width: 100%;
  }
}

.c-search-bar__input:focus {
  outline: none;
}

.c-search-bar__button {
  padding: 0.45rem 0.5rem;
  border-radius: 0;
  border-top-right-radius: 2.5px;
  border-bottom-right-radius: 2.5px;
  border: 1px solid #585858;
  background-color: #ebebeb;
}

.c-search-bar__button img {
  height: 1.5rem;
  width: 1.5rem;
}

.splide__arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  width: 2.5em;
  height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  padding: 0.5em;
  background: transparent;
  transition: border 0.2s;
}

.splide__arrow svg {
  width: 3em;
  height: 3em;
  fill: #c00000;
  transition: fill 0.2s;
}

.splide__arrow:hover {
  cursor: pointer;
  border: 1px solid transparent;
}

.splide__arrow:hover svg {
  fill: #de3c3c;
}

.splide__arrow:focus {
  outline: none;
}

.splide__arrow:disabled svg {
  fill: #c8c8c8;
}

.splide__arrow--prev {
  left: 0;
}

.splide__arrow--prev svg {
  transform: scaleX(-1);
}

.splide__arrow--next {
  right: 0;
}

.splide__slider > .splide__arrows .splide__arrow--prev {
  left: -2.5em;
}

.splide__slider > .splide__arrows .splide__arrow--next {
  right: -2.5em;
}

.splide__pagination {
  position: absolute;
  z-index: 1;
  bottom: 1em;
  left: 50%;
  width: max-content;
  transform: translateX(-50%);
  padding: 0;
}

.splide__pagination__page {
  display: inline-block;
  width: 20px;
  height: 6px;
  border-radius: 2.5px;
  margin: 3px;
  padding: 0;
  transition: all 0.2s linear;
  border: 1px solid #f8f9fc;
  opacity: 0.5;
}

.splide__pagination__page.is-active {
  background: #c00000;
}

.splide__pagination__page:hover {
  cursor: pointer;
  background: #de3c3c;
}

.splide__pagination__page:focus {
  outline: none;
}

.splide__progress__bar {
  width: 0;
  height: 3px;
  background: #20b2aa;
}

.splide__slide {
  border-radius: 1px;
}

.splide__spinner {
  border: 2px solid #20b2aa;
  border-left-color: transparent;
}

.splide--nav > .splide__track > .splide__list > .splide__slide {
  border-bottom: 3px solid #fff;
  cursor: pointer;
  opacity: 0.8;
  border-radius: 1px;
}

.splide--nav
> .splide__track
> .splide__list
> .splide__slide
> .splide__wrapper {
  padding-bottom: 0.2rem;
}

.splide--nav > .splide__track > .splide__list > .splide__slide.is-active {
  border-color: #c00000;
  opacity: 1;
}

.splide--nav > .splide__track > .splide__list > .splide__slide:focus {
  outline: none;
}

.splide--rtl > .splide__arrows .splide__arrow--prev,
.splide--rtl > .splide__track > .splide__arrows .splide__arrow--prev {
  right: 1em;
  left: auto;
}

.splide--rtl > .splide__arrows .splide__arrow--prev svg,
.splide--rtl > .splide__track > .splide__arrows .splide__arrow--prev svg {
  transform: scaleX(1);
}

.splide--rtl > .splide__arrows .splide__arrow--next,
.splide--rtl > .splide__track > .splide__arrows .splide__arrow--next {
  left: 1em;
  right: auto;
}

.splide--rtl > .splide__arrows .splide__arrow--next svg,
.splide--rtl > .splide__track > .splide__arrows .splide__arrow--next svg {
  transform: scaleX(-1);
}

.splide--ttb > .splide__arrows .splide__arrow,
.splide--ttb > .splide__track > .splide__arrows .splide__arrow {
  left: 50%;
  transform: translate(-50%);
}

.splide--ttb > .splide__arrows .splide__arrow--prev,
.splide--ttb > .splide__track > .splide__arrows .splide__arrow--prev {
  top: 1em;
}

.splide--ttb > .splide__arrows .splide__arrow--prev svg,
.splide--ttb > .splide__track > .splide__arrows .splide__arrow--prev svg {
  transform: rotate(-90deg);
}

.splide--ttb > .splide__arrows .splide__arrow--next,
.splide--ttb > .splide__track > .splide__arrows .splide__arrow--next {
  top: auto;
  bottom: 1em;
}

.splide--ttb > .splide__arrows .splide__arrow--next svg,
.splide--ttb > .splide__track > .splide__arrows .splide__arrow--next svg {
  transform: rotate(90deg);
}

.splide--ttb > .splide__pagination {
  display: flex;
  flex-direction: column;
  bottom: 50%;
  left: auto;
  right: 1em;
  transform: translateY(50%);
}

.splide--ttb > .splide__pagination .splide__pagination__page {
  width: 5px;
  height: 20px;
}

.splide__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 1.5rem;
  height: 100%;
}

@media only screen and (max-width: 62.5em) {
  .splide__wrapper {
    row-gap: 0;
  }
}

.splide__wrapper--large {
  justify-content: flex-start;
  row-gap: 1rem;
}

@media only screen and (max-width: 53.125em) {
  .splide__wrapper--large {
    margin: 0 !important;
  }
}

@media only screen and (max-width: 62.5em) {
  .splide__wrapper--tall {
    margin: 0 27.3%;
  }
}

@media only screen and (max-width: 53.125em) {
  .splide__wrapper--tall {
    margin: 0 21%;
  }
}

.splide__add-cart {
  text-align: center;
}

.splide__add-cart--absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  width: max-content;
  transform: translate(-50%, -50%);
  background-color: rgba(248, 249, 252, 0.85);
  opacity: 0;
  visibility: hidden;
}

@media only screen and (hover: none) {
  .splide__add-cart--absolute {
    opacity: 1;
    visibility: visible;
    background-color: #f8f9fc;
  }
}

.splide__add-cart--relative {
  position: relative;
}

.splide__wrapper:hover .splide__add-cart--absolute {
  opacity: 1;
  visibility: visible;
}

.splide__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-family: "Andada Pro", serif;
  text-align: center;
}

.splide__title {
  width: 100%;
  border-bottom: 1px solid #c00000;
  margin-bottom: 0.2rem;
  padding: 0 0.5rem;
  font-size: 1.4rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

.splide__title a {
  white-space: nowrap;
}

.splide__author {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

.splide__rating {
  color: #cfb000;
  font-family: "Lato", sans-serif;
  font-weight: 600;
}

.splide__genre {
  font-size: 1.1rem;
  margin-bottom: 0.1rem;
}

.splide__description {
  margin: 0 6rem;
  text-align: left;
  color: #282828;
}

.splide__img {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-height: 100%;
}

.splide__img--large {
  margin: 0 17rem;
  justify-content: flex-start;
}

@media only screen and (max-width: 75em) {
  .splide__img--large {
    margin: 0 10rem;
  }
}

@media only screen and (max-width: 62.5em) {
  .splide__img--large {
    margin: 0 5rem;
  }
}

@media only screen and (max-width: 53.125em) {
  .splide__img--large {
    margin: 0 0;
  }
}

@media only screen and (max-width: 37.5em) {
  .splide__img--large {
    margin: 0 10rem;
  }
}

@media only screen and (max-width: 26.875em) {
  .splide__img--large {
    margin: 0 0;
  }
}

@media only screen and (max-width: 62.5em) {
  .splide__img--tall {
    margin: 0;
  }
}

.splide__img img {
  width: 100%;
}

.splide__link:link, .splide__link:visited {
  text-decoration: none;
  color: #282828;
}

.splide__link:hover, .splide__link:active {
  color: #de3c3c;
}

@media only screen and (max-width: 62.5em) {
  .category__splide {
    padding: 0 3rem;
  }
}

.category__link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category__link:link, .category__link:visited {
  text-decoration: none;
  color: #232323;
}

.category__icon {
  height: 8.5rem;
  width: 8.5rem;
  margin-bottom: 2rem;
}

.category__description {
  font-family: "Andada Pro", serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  border-bottom: 1px solid transparent;
}

.category__link:hover .category__description,
.category__link:active .category__description {
  border-bottom: 1px solid #000;
}

.comic__splide {
  width: 100%;
  padding: 0 3rem;
}

@media only screen and (max-width: 37.5em) {
  .comic__splide {
    padding: 0 2rem;
  }
}

.footer__wrapper {
  display: grid;
  grid-template-columns: 75% 1fr;
  color: #282828;
  font-family: "Lato", sans-serif;
  margin: 0 auto 2rem auto;
  max-width: 145rem;
}

@media only screen and (max-width: 62.5em) {
  .footer__wrapper {
    grid-template-columns: 70% 30%;
  }
}

@media only screen and (max-width: 37.5em) {
  .footer__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 26.875em) {
  .footer__wrapper {
    grid-template-columns: 1fr;
  }
}

.footer__promo {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 3rem;
  border-top: 1px solid #232323;
  border-bottom: 1px solid #232323;
  margin: 0 1rem;
}

@media only screen and (max-width: 62.5em) {
  .footer__promo {
    grid-column: 1 / span 2;
  }
}

@media only screen and (max-width: 53.125em) {
  .footer__promo {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 37.5em) {
  .footer__promo {
    grid-template-columns: 1fr;
  }
}

.footer__promo__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2rem;
  row-gap: 0.5rem;
}

@media only screen and (min-width: 53.125em) {
  .footer__promo__list:not(:last-child) {
    border-right: 1px solid #232323;
  }
}

@media only screen and (max-width: 53.125em) {
  .footer__promo__list:nth-child(even) {
    border-left: 1px solid #232323;
  }
  .footer__promo__list:nth-child(n + 3) {
    border-top: 1px solid #232323;
  }
}

@media only screen and (max-width: 37.5em) {
  .footer__promo__list:nth-child(even) {
    border-left: none;
  }
  .footer__promo__list:nth-child(n + 3) {
    border-top: none;
  }
  .footer__promo__list:not(:last-child) {
    border-bottom: 1px solid #232323;
  }
}

.footer__promo__list a {
  font-size: 1rem;
  color: #de3c3c;
  margin-top: auto;
}

.footer__promo__title {
  text-transform: uppercase;
  font-size: 1.3rem;
}

.footer__promo__content {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.footer__newsletter {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  margin: 2.5rem 2rem 0 0;
  padding: 1.5rem 1.5rem 2rem 1.5rem;
  border-bottom: 2px solid #de3c3c;
  background-color: rgba(222, 60, 60, 0.1);
}

@media only screen and (max-width: 62.5em) {
  .footer__newsletter {
    grid-column: 1 / span 1;
    grid-row: 3 / span 2;
    margin: 0 4rem 0 0;
    padding: 1.5rem 1.5rem 2rem 2rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .footer__newsletter {
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
    margin: 0 1rem 2rem 1rem;
    padding: 1.5rem 1.5rem 2rem 1.5rem;
  }
}

.footer__newsletter__title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #de3c3c;
}

.footer__newsletter__form {
  margin: 0.5rem 0 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

.footer__newsletter__input {
  padding: 0.5rem;
  width: 80%;
  border-radius: 0;
  outline: none;
  border: 1px solid #585858;
  border-right: none;
}

@media only screen and (max-width: 75em) {
  .footer__newsletter__input {
    width: 100%;
  }
}

.footer__newsletter__button {
  background-color: #de3c3c;
  padding: 0.5rem 1.1rem;
  outline: none;
  border: 1px solid #585858;
  border-left: none;
  color: #f8f9fc;
  font-size: 1.4rem;
  cursor: pointer;
}

.footer__newsletter__text {
  color: #585858;
  text-align: left;
}

.footer__copyright {
  grid-column: 2 / span 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0 0 0.5rem 1.5rem;
  font-size: 1.3rem;
}

@media only screen and (max-width: 62.5em) {
  .footer__copyright {
    grid-column: 2 / span 1;
    justify-content: center;
    padding: 0;
  }
}

@media only screen and (max-width: 37.5em) {
  .footer__copyright {
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;
    padding: 0 1rem;
  }
}

@media only screen and (max-width: 26.875em) {
  .footer__copyright {
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;
    margin-top: 1rem;
  }
}

.footer__social {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 2rem;
  margin: 2.5rem 0;
  padding: 0 0 0 1.5rem;
}

@media only screen and (max-width: 62.5em) {
  .footer__social {
    grid-column: 2 / span 1;
    justify-content: center;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    border-top: 1px solid #de3c3c;
  }
}

@media only screen and (max-width: 37.5em) {
  .footer__social {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
    margin: 0 0 1rem 0;
    border-top: none;
  }
}

.footer__social__icon {
  fill: #232323;
  height: 2.5rem;
  width: 2.5rem;
  transition: fill 0.1s;
}

.footer__social__icon--facebook:hover {
  fill: #1877f2;
}

.footer__social__icon--twitter:hover {
  fill: #1da1f2;
}

.footer__social__icon--instagram:hover {
  fill: #e4405f;
}

.footer__menu {
  grid-column: 1 / span 1;
  grid-row: 2 / span 3;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 2.5rem 2rem 2rem 2rem;
  margin-right: 4rem;
  column-gap: 2rem;
}

@media only screen and (max-width: 62.5em) {
  .footer__menu {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    margin-right: 0;
    padding: 2.5rem 2rem 3rem 2rem;
  }
}

@media only screen and (max-width: 53.125em) {
  .footer__menu {
    grid-template-columns: 1fr;
  }
}

.footer__menu__category {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.footer__menu__header {
  font-size: 1.7rem;
  color: #de3c3c;
  transition: background-color 0.1s;
}

@media only screen and (max-width: 53.125em) {
  .footer__menu__header {
    cursor: pointer;
    padding: 1rem 2rem;
  }
  .footer__menu__header:hover {
    background-color: #ebebeb;
  }
  .footer__menu__header::after {
    content: "\0002B";
    color: #c8c8c8;
    font-size: 2rem;
    float: right;
    transition: color 0.2s;
  }
  .footer__menu__header:hover::after {
    color: #585858;
  }
}

.footer__menu__content {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

@media only screen and (max-width: 53.125em) {
  .footer__menu__content {
    max-height: 0;
    margin: 0 2.5rem;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
}

.footer__menu__item {
  padding: 0.3rem 0;
}

@media only screen and (max-width: 53.125em) {
  .footer__menu__item:last-child {
    padding-bottom: 3rem;
  }
}

.footer__menu__link:link, .footer__menu__link:visited {
  text-decoration: none;
  color: #282828;
  font-size: 1.2rem;
  transition: color 0.1s;
}

@media only screen and (max-width: 53.125em) {
  .footer__menu__link:link, .footer__menu__link:visited {
    font-size: 1.4rem;
  }
}

.footer__menu__link:hover, .footer__menu__link:active {
  color: #c00000;
}

.accordion-active {
  background-color: #ebebeb;
}

.accordion-active::after {
  content: "\02212";
  color: #585858;
}

.nav--scroll {
  border-bottom: 1px solid #c8c8c8 !important;
}

.nav__wrapper {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 150rem;
}

@media only screen and (max-width: 62.5em) {
  .nav__wrapper {
    grid-template-columns: repeat(2, max-content) 1fr max-content;
  }
}

.nav__title {
  width: min-content;
}

.nav__title a {
  display: block;
}

.nav__title img {
  height: 7rem;
  padding: 0.5rem 0;
}

@media only screen and (max-width: 30em) {
  .nav__title img {
    height: 5rem;
  }
}

.nav__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-self: center;
  width: 100%;
  padding: 0 6rem 0 8rem;
}

@media only screen and (max-width: 62.5em) {
  .nav__menu {
    padding: 0 3rem 0 2rem;
  }
}

.nav__search {
  flex: 1 0;
}

@media only screen and (max-width: 62.5em) {
  .nav__search {
    display: none;
  }
}

.nav__disc {
  flex: 0 0 max-content;
  padding-left: 0 2rem;
}

.nav__shop {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1.5rem;
}

@media only screen and (max-width: 30em) {
  .nav__wishlist {
    display: none;
  }
}

.nav__cart {
  position: relative;
  border-radius: 50%;
  transition: all 0.1s;
}

.nav__cart:hover, .nav__cart:active {
  background-color: #ebebeb;
}

.nav__cart a img {
  height: 2.5rem;
  width: 2.5rem;
}

.nav__cart__total {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f8f9fc;
  font-size: 12px;
  border-radius: 50%;
  background-color: #de3c3c;
  height: 15px;
  width: 15px;
  transform: translate(5px, -5px);
}

.nav__member {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 2rem;
  column-gap: 1rem;
}

@media only screen and (max-width: 30em) {
  .nav__member {
    display: none;
  }
}

.nav__member__photo {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

.nav__more {
  position: relative;
  grid-column: 1 / span 3;
  padding: 1.5rem 0;
  border-bottom: 1px solid #c8c8c8;
  transition: all 0.5s;
}

@media only screen and (max-width: 62.5em) {
  .nav__more {
    padding: 1.2rem 0;
  }
}

.nav__more--scroll {
  border-bottom: 1px solid transparent;
  opacity: 0;
  visibility: hidden;
}

.nav__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 62.5em) {
  .nav__list {
    display: none;
  }
}

.nav__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.nav__item:not(:last-child) {
  border-right: 1px solid #141414;
}

.nav__link:link, .nav__link:visited {
  text-decoration: none;
  color: #000;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  transition: color 0.1s;
}

.nav__link:hover, .nav__link:active {
  color: #de3c3c;
}

.nav__link--more {
  padding: 0.5rem 0;
}

.nav__link--disc {
  width: max-content;
  padding: 0 1rem;
}

.nav__side {
  display: none;
  height: 60%;
  width: max-content;
  cursor: pointer;
  margin-right: 3rem;
}

@media only screen and (max-width: 62.5em) {
  .nav__side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

.nav__side__icon {
  height: 3rem;
  width: 3rem;
}

.nav__sidebar {
  display: none;
  position: fixed;
  left: -105%;
  height: 100%;
  z-index: 7;
  transition: left 0.2s;
}

@media only screen and (max-width: 62.5em) {
  .nav__sidebar {
    display: block;
  }
}

.nav__sidebar__main {
  display: none;
}

@media only screen and (max-width: 37.5em) {
  .nav__sidebar__main {
    display: block;
  }
}

.nav__sidebar__back {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(20, 20, 20, 0.7);
  opacity: 0;
  visibility: hidden;
  z-index: 7;
  transition: opacity 0.1s;
}

@media only screen and (max-width: 62.5em) {
  .nav__sidebar__back {
    display: block;
  }
}

.nav__sidebar__menu {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  width: 40vw;
  background-color: #f8f9fc;
  border-right: 1px solid #de3c3c;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.nav__sidebar__menu::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 53.125em) {
  .nav__sidebar__menu {
    min-width: 36rem;
  }
}

.nav__sidebar__search input {
  border-radius: 0;
  padding: 1rem;
  border-color: #f8f9fc;
}

.nav__sidebar__search button {
  padding: 1rem;
  border-radius: 0;
  background-color: #fff;
  border-color: #f8f9fc;
}

.nav__sideclose {
  font-size: 6rem;
  padding: 0 1rem;
  border-bottom: 3px solid #de3c3c;
  background-color: #c00000;
  color: #f8f9fc;
  cursor: pointer;
  transition: color 0.1s;
}

.nav__sideclose:hover {
  color: #141414;
}

.nav__sidelist {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nav__sidelist--disc {
  height: 100%;
  padding-top: 2rem;
  background-color: #de3c3c;
}

.nav__sidelist--more {
  margin-bottom: 0.5rem;
}

.nav__sidelist--account {
  margin-bottom: 0.5rem;
  border-bottom: 4px solid #de3c3c;
}

.nav__sideitem {
  width: 100%;
}

.nav__sideitem--disc {
  margin: 0.1rem 0;
}

.nav__sideitem--more {
  margin-bottom: 0.2rem;
  border-top: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
  background-color: #ebebeb;
}

.nav__sideitem--account {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
}

.nav__sideitem--account img {
  height: 6rem;
  width: 6rem;
  padding: 0;
}

.nav__sidelink {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  transition: color 0.1s;
}

.nav__sidelink:hover {
  color: #000;
}

.nav__sidelink--disc {
  padding: 1.5rem 2rem;
  color: #fff;
  font-family: "Andada Pro", serif;
  font-size: 2.5rem;
}

.nav__sidelink--more {
  padding: 2rem 2rem;
  color: #585858;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
}

.nav__sidelink--account {
  padding: 2rem;
  color: #585858;
  font-family: "Andada Pro", serif;
  font-size: 2rem;
}

.nav__sidelink--right {
  padding: 0 2rem;
  color: #c00000;
  font-family: "Andada Pro", serif;
  font-size: 2rem;
}

.js-nav__show {
  left: 0;
}

.new__splide {
  padding: 0 5.5rem;
}

@media only screen and (max-width: 62.5em) {
  .new__splide {
    padding: 0 3rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .new__splide {
    padding: 0;
  }
}

.new__splide-nav {
  width: 100%;
  padding: 4rem 3rem 2rem 3rem;
  border-bottom: 1px solid #c00000;
}

.new__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 10rem;
  height: 32rem;
  margin: 0 15rem 0 18rem;
  padding: 1rem 2rem 0.5rem 4px;
  border-left: 3px solid #c00000;
  background-image: url("../img/bg-new.png"), linear-gradient(to bottom right, #ebebeb, #f8f9fc);
  background-position: top right;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 75em) {
  .new__wrapper {
    margin: 0 9rem 0 12rem;
  }
}

@media only screen and (max-width: 62.5em) {
  .new__wrapper {
    margin: 0 3rem 0 4rem;
    column-gap: 5rem;
  }
}

@media only screen and (max-width: 53.125em) {
  .new__wrapper {
    margin: 0;
    height: 34rem;
  }
}

@media only screen and (max-width: 43.75em) {
  .new__wrapper {
    height: 36rem;
  }
}

@media only screen and (max-width: 30em) {
  .new__wrapper {
    height: 36rem;
    padding: 1rem 2rem 0.5rem 2rem;
  }
}

@media only screen and (max-width: 26.875em) {
  .new__wrapper {
    height: 41.5rem;
  }
}

.new__img {
  flex: 1 0 20%;
  align-self: center;
}

@media only screen and (max-width: 53.125em) {
  .new__img {
    flex: 1 0 25%;
  }
}

@media only screen and (max-width: 30em) {
  .new__img {
    display: none;
  }
}

.new__text {
  flex: 0 1 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 32rem;
  font-family: "Andada Pro", serif;
}

.new__text a {
  margin-bottom: 2rem;
}

@media only screen and (max-width: 85em) {
  .new__text a {
    align-self: flex-end;
  }
}

.new__title {
  margin-bottom: 1.5rem;
  border-bottom: 2px solid #c00000;
}

.new__author {
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
}

.new__genre {
  margin-bottom: 1.8rem;
  font-size: 1.4rem;
}

.new__published {
  align-self: stretch;
  margin-bottom: 0.5rem;
  color: #282828;
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
}

.new__rating {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 1rem;
  margin-bottom: 1.5rem;
  color: #282828;
  font-size: 1.1rem;
  font-family: "Lato", sans-serif;
}

.new__rating__score {
  color: #cfb000;
  font-weight: 600;
}

.new__description {
  font-size: 1.2rem;
  margin-bottom: auto;
  line-height: 2.25rem;
  padding-left: 2.2rem;
  border-left: 1px solid #c00000;
  color: #282828;
  font-family: "Lato", sans-serif;
  text-align: left;
}

@media only screen and (max-width: 85em) {
  .new__description {
    margin-bottom: 0.5rem;
  }
}

@media only screen and (max-width: 30em) {
  .new__description {
    padding-left: 0;
    border-left: none;
  }
}

.new__link:link, .new__link:visited {
  text-decoration: none;
  color: #282828;
  transition: color 0.1s;
}

.new__link:hover, .new__link:active {
  color: #de3c3c;
}

.picks__more {
  position: absolute;
  z-index: 1;
  bottom: 1rem;
  right: 2.5rem;
  padding: 0.2rem 0.5rem;
}

@media only screen and (max-width: 62.5em) {
  .picks__more {
    left: 2.5rem;
    right: auto;
  }
}

.picks__more:link, .picks__more:visited {
  text-decoration: none;
  color: #de3c3c;
  border-bottom: 1px solid transparent;
  font-size: 1.4rem;
  text-transform: uppercase;
  transition: all 0.1s;
}

.picks__more:hover, .picks__more:active {
  color: #c00000;
  border-bottom: 1px solid #c00000;
}

.picks__splide {
  border: 1px solid #ebebeb;
}

.picks__nav__slide {
  font-size: 3rem !important;
}

.picks__slide__img {
  width: 100%;
  height: 100%;
  object-position: right;
}

.picks__splide-nav {
  position: absolute !important;
  bottom: 0;
  left: 0;
  width: 25%;
  height: 43rem;
  background-image: linear-gradient(to top right, rgba(235, 235, 235, 0.9), rgba(255, 255, 255, 0.9));
  box-shadow: inset 2px 0 5px #c8c8c8;
  font-family: "Lato", sans-serif;
}

@media only screen and (max-width: 53.125em) {
  .picks__splide-nav {
    position: relative;
    width: 100%;
    height: 20rem;
    box-shadow: inset 0 0 5px #c8c8c8;
  }
}

.picks__splide-nav .splide__track {
  width: max-content;
  height: max-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.picks__splide-nav .splide__track .splide__list {
  text-align: center;
}

.picks__splide-nav > .splide__track > .splide__list > .splide__slide {
  border: none;
  cursor: pointer;
  transition: color 0.2s;
  opacity: 1;
  border-radius: 0;
  color: #282828;
  font-size: 3.5rem !important;
}

.picks__splide-nav > .splide__track > .splide__list > .splide__slide.is-active {
  color: #c00000;
  border-color: transparent;
  opacity: 1;
  background-color: transparent;
}

.promotions__header {
  align-self: center;
  width: 90%;
  padding: 2rem 0;
  margin-top: 2.5rem;
  border-top: 1px solid #c00000;
  font-family: "Lato", sans-serif;
  text-align: center;
}

@media only screen and (max-width: 62.5em) {
  .promotions__header {
    font-size: 1.6rem;
  }
}

.promotions__header span {
  text-transform: uppercase;
}

@media only screen and (max-width: 62.5em) {
  .promotions__header span {
    display: block;
  }
}

@media only screen and (max-width: 37.5em) {
  .promotions__header span {
    margin-bottom: 0.5rem;
  }
}

.promotions__img {
  width: 100%;
  height: 100%;
}

.promotions__img--left {
  object-position: left;
}

.promotions__img--right {
  object-position: right;
}

.promotions__content:link, .promotions__content:visited {
  text-decoration: none;
  color: #282828;
}

.promotions__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 2rem;
  position: absolute;
  height: max-content;
  width: 40%;
  top: 0;
  color: #fff;
}

@media only screen and (max-width: 53.125em) {
  .promotions__text {
    width: 50%;
  }
}

@media only screen and (max-width: 33.75em) {
  .promotions__text {
    display: none;
  }
}

.promotions__text--left {
  left: 0;
  margin: 5rem 2% 5rem 8%;
}

.promotions__text--right {
  right: 0;
  margin: 5rem 7% 5rem 3%;
}

.promotions__title {
  color: #fff;
  font-family: "Andada Pro", serif;
  font-size: 2rem;
  font-style: italic;
}

@media only screen and (max-width: 43.75em) {
  .promotions__title {
    font-size: 1.8rem;
  }
}

.promotions__description {
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  line-height: 3.5rem;
  font-weight: 300;
}

@media only screen and (max-width: 62.5em) {
  .promotions__description {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 43.75em) {
  .promotions__description {
    font-size: 1.3rem;
    line-height: 2.5rem;
    font-weight: 400;
  }
}

.promotions__splide {
  border-top: 1px solid #c00000;
}

.promotions__splide .splide__arrow {
  opacity: 0;
  transition: all 0.2s;
}

@media only screen and (hover: none) {
  .promotions__splide .splide__arrow {
    opacity: 1;
  }
}

.promotions__splide .splide__arrow svg {
  fill: #f8f9fc;
}

.promotions__splide .splide__arrow:hover {
  border: 1px solid #f8f9fc;
}

.promotions__splide .splide__arrow:hover svg {
  fill: #c00000;
}

.promotions__splide .splide__pagination {
  opacity: 0;
  transition: all 0.2s;
}

@media only screen and (hover: none) {
  .promotions__splide .splide__pagination {
    opacity: 1;
  }
}

.promotions__splide .splide__pagination__page.is-active {
  background: #c00000;
  opacity: 1;
}

.promotions__splide .splide__pagination__page:hover {
  opacity: 1;
}

.promotions__splide:hover .splide__arrow, .promotions__splide:active .splide__arrow {
  opacity: 1;
}

.promotions__splide:hover .splide__pagination, .promotions__splide:active .splide__pagination {
  opacity: 1;
}

.series__splide {
  width: 100%;
  padding: 0 3rem;
}

.series__splide-text {
  margin: 0 auto;
  padding: 0 3rem;
}

.series__splide-text__text {
  display: inline-block;
  width: 100%;
  padding: 4rem 2rem 1rem 2rem;
  text-align: center;
}

@media only screen and (max-width: 37.5em) {
  .series__splide-text__text {
    padding: 3rem 1rem 1rem 1rem;
  }
}

.series__splide-text__text:link, .series__splide-text__text:visited {
  text-decoration: none;
  color: #282828;
  font-family: "Andada Pro", serif;
  font-size: 2rem;
}

.series__splide-text__text span {
  display: block;
  margin-top: 1rem;
  color: #585858;
  font-size: 1.4rem;
}

.series__more {
  text-align: center;
  margin: 2rem 0 3rem 0;
}

.series__more a:link, .series__more a:visited {
  text-decoration: none;
  padding: 0.2rem;
  border-bottom: 1px solid transparent;
  color: #282828;
  font-family: "Andada Pro", serif;
  font-size: 1.1rem;
  transition: all 0.1s;
}

.series__more a:hover, .series__more a:active {
  border-bottom: 1px solid #c00000;
  color: #c00000;
}

.top__splide {
  width: 100%;
  padding: 0.5rem 8rem 1rem 8rem;
  background-image: url("../img/bg-top.png"), linear-gradient(to right, rgba(235, 235, 235, 0.5), #f8f9fc);
  background-position: bottom left;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 53.125em) {
  .top__splide .splide__track
.splide__list
.splide__slide
.splide__slide__row
.splide__slide
.splide__wrapper {
    margin: 0 21%;
  }
}

@media only screen and (max-width: 37.5em) {
  .top__splide .splide__track
.splide__list
.splide__slide
.splide__slide__row
.splide__slide
.splide__wrapper {
    margin: 0 34%;
  }
}

@media only screen and (max-width: 26.875em) {
  .top__splide .splide__track
.splide__list
.splide__slide
.splide__slide__row
.splide__slide
.splide__wrapper {
    margin: 0 21%;
  }
}

.top__big .splide__title {
  width: max-content;
  font-size: 1.8rem;
}

.top__big .splide__author {
  font-size: 1.4rem;
  margin-bottom: 0.4rem;
}

.top__big .splide__rating {
  color: #cfb000;
  font-family: "Lato", sans-serif;
  font-weight: 600;
}

.top__big .splide__genre {
  font-size: 1.2rem;
}

.top__big .splide__description {
  padding: 0.2rem 0 0.4rem 1.5rem;
  margin: 1rem 10rem 2.5rem 10rem;
  border-left: 1px solid #c00000;
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
  line-height: 1.8rem;
}

@media only screen and (max-width: 75em) {
  .top__big .splide__description {
    margin: 1rem 7rem 2.5rem 7rem;
  }
}

@media only screen and (max-width: 62.5em) {
  .top__big .splide__description {
    margin: 1rem 5rem 2.5rem 5rem;
    font-size: 1.2rem;
    line-height: 2rem;
  }
}

@media only screen and (max-width: 53.125em) {
  .top__big .splide__description {
    margin: 1rem 0 2.5rem 0;
  }
}

.top__big .splide__add-cart {
  padding: 0.7rem 1.5rem;
}

.trending__splide {
  cursor: grab;
}

.trending__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background-image: url("../img/top-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  box-shadow: 0px 20px 20px -15px rgba(0, 0, 0, 0.2) inset, 0px -20px 20px -15px rgba(0, 0, 0, 0.2) inset;
}

.trending__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

@media only screen and (max-width: 43.75em) {
  .trending__wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

@media only screen and (max-width: 26.875em) {
  .trending__wrapper {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
}

.trending__img {
  flex: 1;
  display: block;
  width: 100%;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2);
}

.trending__img img {
  width: 100%;
}

.trending__description {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100%;
  padding-bottom: 4.5rem;
  font-family: "Andada Pro", serif;
}

@media only screen and (max-width: 85em) {
  .trending__description {
    padding-bottom: 1rem;
  }
}

@media only screen and (max-width: 43.75em) {
  .trending__description {
    flex: 1;
    align-items: center;
  }
}

@media only screen and (max-width: 26.875em) {
  .trending__description {
    align-items: flex-start;
  }
}

.trending__description .splide__add-cart {
  margin-left: 1rem;
}

@media only screen and (max-width: 85em) {
  .trending__description .splide__add-cart {
    margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 53.125em) {
  .trending__description .splide__add-cart {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 26.875em) {
  .trending__description .splide__add-cart {
    margin-bottom: 0;
  }
}

.trending__title {
  width: 100%;
  margin: 4.5rem 0 auto 0;
  padding-left: 1rem;
  color: #282828;
  border-bottom: 2px solid #c00000;
}

@media only screen and (max-width: 75em) {
  .trending__title {
    margin: 5.5rem 0 auto 0;
  }
}

@media only screen and (max-width: 43.75em) {
  .trending__title {
    margin: 1rem 0;
    padding-left: 0;
    text-align: center;
  }
}

@media only screen and (max-width: 26.875em) {
  .trending__title {
    padding-left: 1rem;
    text-align: left;
  }
}

.trending__author {
  padding-left: 1rem;
  color: #282828;
  font-size: 1.6rem;
}

.trending__genre {
  margin: 1rem 0 0 0;
  padding-left: 1rem;
  color: #282828;
  font-size: 1.4rem;
}

.trending__publisher {
  margin: 0.2rem 0 6rem 0;
  padding-left: 1rem;
  color: #282828;
  font-size: 1.2rem;
}

@media only screen and (max-width: 53.125em) {
  .trending__publisher {
    margin: 0.2rem 0 3rem 0;
  }
}

.trending__rating {
  padding-left: 1rem;
}

.trending__link:link, .trending__link:visited {
  text-decoration: none;
  transition: all 0.1s;
  color: #282828;
}

.trending__link:hover, .trending__link:active {
  color: #fff;
}

.container {
  display: grid;
  grid-template-columns: [filll-start] 1fr [filll-end center-start] minmax(0, 145rem) [center-end fillr-start] 1fr [fillr-end];
}

.nav {
  grid-column: filll-start / fillr-end;
  z-index: 5;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: max-content;
  background-color: #f8f9fc;
  border-bottom: 1px solid transparent;
  transition: border 0.2s;
}

.trending {
  grid-column: filll-start / fillr-end;
  position: relative;
  width: 100%;
  margin: 0 0 4.5rem 0;
  background-image: url("../img/bg-head.png"), linear-gradient(to bottom right, #ebebeb, #f8f9fc);
  background-position: bottom left;
  background-repeat: no-repeat;
}

.promotions {
  grid-column: filll-start / fillr-end;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 4.5rem 0 2rem 0;
}

.category {
  grid-column: center-start / center-end;
  width: 100%;
  margin: 0 0 5rem 0;
  padding: 3rem 0;
  border-top: 1px solid #232323;
  border-bottom: 1px solid #232323;
  background-image: linear-gradient(to top, rgba(235, 235, 235, 0.3), #f8f9fc);
}

.picks {
  position: relative;
  grid-column: center-start / center-end;
  width: 100%;
  margin: 5rem 0;
}

@media only screen and (max-width: 37.5em) {
  .picks {
    margin: 3rem 0;
  }
}

.new {
  grid-column: center-start / center-end;
  width: 100%;
  margin: 5rem 0;
}

@media only screen and (max-width: 37.5em) {
  .new {
    margin: 8rem 0 4rem 0;
  }
}

.top {
  grid-column: center-start / center-end;
  width: 100%;
  margin: 5rem 0 10rem 0;
}

@media only screen and (max-width: 37.5em) {
  .top {
    margin: 8rem 0;
  }
}

.series {
  grid-column: center-start / center-end;
  width: 100%;
  margin: 4rem 0 3rem 0;
  padding: 4rem 0 0 0;
  border-top: 1px solid #c00000;
  border-bottom: 1px solid #c00000;
  background-image: linear-gradient(to top left, rgba(235, 235, 235, 0.3), #f8f9fc);
}

.comic {
  grid-column: center-start / center-end;
  width: 100%;
  margin: 5rem 0 6rem 0;
}

@media only screen and (max-width: 37.5em) {
  .comic {
    margin: 8rem 0 6rem 0;
  }
}

.promotions-static {
  grid-column: center-start / center-end;
  width: 100%;
  height: 40rem;
  margin: 5rem 0 10rem 0;
}

@media only screen and (max-width: 37.5em) {
  .promotions-static {
    height: auto;
  }
}

@media only screen and (max-width: 33.75em) {
  .promotions-static {
    height: 25rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .promotions-static {
    margin: 3rem 0 6rem 0;
  }
}

.footer {
  grid-column: filll-start / fillr-end;
}

.section__head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 5rem;
}

@media only screen and (max-width: 37.5em) {
  .section__head {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 2rem;
  }
}

.section__header {
  width: max-content;
  padding: 0.5rem 2rem 0 5rem;
  border-bottom: 2px solid #c00000;
  color: #282828;
  font-family: "Playfair Display", serif;
}

@media only screen and (max-width: 37.5em) {
  .section__header {
    align-self: flex-start;
    width: 100%;
    padding: 0.5rem 1rem 0 1rem;
  }
}

.section__header--trending {
  margin-top: 4rem;
  padding-left: 15rem;
}

@media only screen and (max-width: 62.5em) {
  .section__header--trending {
    padding-left: 5rem;
  }
}

@media only screen and (max-width: 53.125em) {
  .section__header--trending {
    padding-left: 0.5rem;
    font-size: 3rem;
  }
}

@media only screen and (max-width: 43.75em) {
  .section__header--trending {
    font-size: 2.5rem;
  }
}

.section__header--picks {
  margin-bottom: 0.1rem;
}

@media only screen and (max-width: 37.5em) {
  .section__header--picks {
    font-size: 2.5rem;
  }
}

.section__more {
  padding: 0.5rem 0 0.2rem 0;
  margin-right: 6rem;
}

@media only screen and (max-width: 37.5em) {
  .section__more {
    margin-right: 0.5rem;
  }
}

.section__more:link, .section__more:visited {
  text-decoration: none;
  color: #de3c3c;
  font-family: "Lato", sans-serif;
  font-size: 1.3rem;
  text-transform: uppercase;
  transition: all 0.1s;
  border-bottom: 1px solid transparent;
}

.section__more:hover, .section__more:active {
  color: #c00000;
  border-bottom: 1px solid #c00000;
}
