// COLORS
$color-primary: #f8f9fc;

$color-secondary: #c00000;

$color-tertiary: #de3c3c;

$color-light-1: #fff;
$color-light-2: rgb(235, 235, 235);
$color-light-3: rgb(190, 190, 190);
$color-dark-1: #000;
$color-dark-2: rgb(60, 60, 60);

$color-font-dark: #000;
$color-font-grey: rgb(70, 70, 70);
$color-font-light: #fff;

// BREAKPOINTS
$bp-infinite: 112.5em; //1800px
$bp-largest: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 53.125em; //850px
$bp-small: 43.75em; //700px
$bp-smallest: 37.5em; //600px
