// COLORS
$color-primary: #f8f9fc;

$color-secondary: #c00000;

$color-tertiary: #de3c3c;

$color-light-1: #fff;
$color-light-2: #ebebeb;
$color-light-3: #c8c8c8;
$color-dark-1: #000;
$color-dark-2: #141414;

$color-font-dark: rgb(40, 40, 40);
$color-font-grey-darker: #232323;
$color-font-grey-dark: #282828;
$color-font-grey-lighter: #585858;
$color-font-light: #fff;
$color-font-gold: #cfb000;

// FONTS
$font-andada: "Andada Pro", serif;
$font-playfair: "Playfair Display", serif;
$font-lato: "Lato", sans-serif;

// BREAKPOINTS
$bp-huge: 85em; //1360px
$bp-larger: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 53.125em; //850px
$bp-small: 43.75em; //700px
$bp-smaller: 37.5em; //600px

$bp-break-nav: 30em; //480px
$bp-break-trending: 26.875em; //430px
$bp-break-promotions: 33.75em; //540px
$bp-break-picks: 26.875em; //430px
$bp-break-new: 26.875em; //430px
$bp-break-top: 26.875em; //430px
$bp-break-footer: 26.875em; //430px
